<%- include('../partials/headerLog') %>
	
	<main>
		
		<section class="jumpers">
		
			<div class="container">
				
				<header>
					
					<h1>MERCEDES-BENZ</h1>
					<p>Mercedes-Benz is a German global automobile marque and a division of Daimler AG. Mercedes-Benz is known for luxury vehicles, vans, trucks, buses, coaches and ambulances. The headquarters is in Stuttgart, Baden-Württemberg. The name first appeared in 1926 under Daimler-Benz. In 2018, Mercedes-Benz was the largest seller of premium vehicles in the world, having sold 2.31 million passenger cars.</p>
						
				</header>
				
				<div class="row">
					
					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="a_class"><img src="img/merc/A/smal/A-Class2012-2018.jpg" alt="A-Class"></a>
							<figcaption>A-Class</figcaption>
						</figure>
					
					</div>
					
					<div class="col-sm-6 col-md-4">
						<figure>
							<a href="c_class"><img src="img/merc/C/smal/C-Class2007-2014.jpg" alt="C-Class"></a>
							<figcaption>C-Class</figcaption>
						</figure>
					
					
					</div>

					<div class="col-sm-6 col-md-4">
					
						<figure>
							<a href="b_class"><img src="img/merc/E/smal/E-Class2011-2018.jpg" alt="E-Class"></a>
							<figcaption>E-Class</figcaption>
						</figure>
					
					</div>	
				
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="api">
				
							<form action="/mercedes/mercedes" method="POST">
								<div class="api2">
									<h2>Enter your postcode<br>to find nearest Garage:</h2>
									<input type="text" id="searchGM" name="searchGM" placeholder="Enter name" required />
									<div><button class="mb-2" type="submit" id="submit">SEARCH</button></div>
				
									<% zestaw.forEach(wsad => { %>
									<div class="card mt-4">
										<a href="<%= wsad.name %>" target="_blank"><%= wsad.name %></a>
									</div>
									<% }) %>
				
								</div>
							</form>
				
						</div>
				
						<div class="api">
				
							<form action="/mercedes/mercedes" method="POST">
								<div class="api2">
									<h2>Enter Model name<br>to find it on Wikipedia:</h2>
									<input type="text" id="searchWP" name="searchWP" placeholder="Enter name" required />
									<div><button class="mb-2" type="submit" id="submit">SEARCH</button></div>
				
									<% zestaw.forEach(wsad => { %>
									<div class="card mt-4">
										<a href="<%= wsad.name %>" target="_blank"><%= wsad.name %></a>
									</div>
									<% }) %>
				
								</div>
							</form>
				
						</div>
					</div>
				
				</div>
			</div>	
				
		</section>
		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    	<script type="text/javascript" src="js/backtotop.js"></script>
	</main>
	
	<%- include('../partials/footer') %>